<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>


<div id="app">

    <input v-model="NewAccountPassword" placeholder="请输入密码">
    <button v-on:click="NewAccount">NewAccount</button>
    {{ NewAccountResult }}
    <br><br>

    <input v-model="chainId" placeholder="chainId">
    <input v-model="period" placeholder="区块生成间隔时间(period)">
    <input v-model="genesisAllocAccount" placeholder="创世节点地址">
    <button v-on:click="initGenesisJson">initGenesisJson</button>
    <p>{{ initGenesisJsonResult }}</p>
    <br><br>
    <textarea v-model="genesisJson" placeholder="genesis.json"></textarea>
    <button v-on:click="addGenesisJson">addGenesisJson</button>
    <button v-on:click="delGenesisJson">delGenesisJson</button>
    <p>{{ genesisJsonResult }}</p>
    <br>


    <button v-on:click="initTai">initTai</button>
    {{ initTaiResult }}
    <br>
    <button v-on:click="getAccounts">getAccounts</button>
    <p> {{ AccountsResult }} </p>
    <br>

    <input v-model="unlockAccount" placeholder="请输入账户地址">
    <input v-model="unlockAccountPassword" placeholder="请输入账户密码">
    <input v-model="port" placeholder="请输入端口">
    <input v-model="rpcPort" placeholder="请输入rpc端口">
    <input v-model="verbosity" placeholder="日志级别, 默认为0">
    <button v-on:click="startTai">startTai</button>
    <button v-on:click="stopTai">stopTai</button>
    <p>{{ startTaiResult }}</p>
    <br><br>


    <input v-model="minerAddress">
    <button v-on:click="addMiner">addMiner</button>

    <input v-model="enodeAddress">
    <button v-on:click="addEnode">addEnode</button>

    <input v-model="contractAddress">
    <button v-on:click="addContract">addContract</button>

    <p>{{ addResult }}</p>
    <br><br>

    <button v-on:click="getMiner">getMiner</button>
    <button v-on:click="getEnode">getEnode</button>
    <button v-on:click="getContract">getContract</button>

    <button v-on:click="delMiner">delMiner</button>
    <button v-on:click="delEnode">delEnode</button>
    <button v-on:click="delContract">delContract</button>
    <p>{{ getResult }}</p>
    <br><br>

    <input v-model="addPeerAddress">
    <button v-on:click="addPeer">addPeer</button>
    <button v-on:click="getOwnenode">getOwnenode</button>
    <p>{{ enodeResult }}</p>
    <br><br>

    <input v-model="companyName" placeholder="公司名">
    <input v-model="email" placeholder="邮箱">
    <input v-model="remark" placeholder="备注">
    <input v-model="enode" placeholder="enode">
    <button v-on:click="deployCCC">部署CCC合约</button>

    <br><br>
    <input v-model="contractAddress" placeholder="合约地址">
    <button v-on:click="loadCCC">加载CCC合约</button>
    <p>{{ deployResult }}</p>
    <br>

    <input v-model="companyName2" placeholder="公司名">
    <input v-model="email2" placeholder="邮箱">
    <input v-model="remark2" placeholder="备注">
    <input v-model="enode2" placeholder="enode">
    <input v-model="account2" placeholder="账户地址">
    <button v-on:click="applyMember">增加成员</button>
    <p>{{ applyResult }}</p>
    <br>

    <input v-model="transferToAccount" placeholder="给该账户转账">
    <input v-model="transferAmount" placeholder="转账金额(ether)">
    <button v-on:click="transfer">转账</button>
    <p>{{ transferResult }}</p>
    <br>


    <button v-on:click="showCompanyNum">获取公司个数</button>
    <p>{{ showCompanyNumResult }}</p>
    <br><br>



    <input v-model="fromID" placeholder="fromID">
    <input v-model="toID" placeholder="toID">
    <button v-on:click="voteMember">投票成为成员</button>
    <button v-on:click="voteMine">投票成为PoA成员</button>
    <p>{{ voteResult }}</p>
    <br>

    <input v-model="companyId" placeholder="companyId">
    <button v-on:click="showBallot">被投票成员票数</button>
    <button v-on:click="showBallotMine">被投票PoA成员票数</button>
    <button v-on:click="isMember">是不是成员</button>
    <button v-on:click="isMemberMine">是不是PoA成员</button>
    <p>{{ ballotNumResult }}</p>
    <br>

    <button v-on:click="ShowAllCompany">查看所有公司</button>
    <template>
        <el-table :data="tableData" stripe style="width: 100%">
            <el-table-column prop="id" label="id">
            </el-table-column>
            <el-table-column prop="owner" label="account">
            </el-table-column>
            <el-table-column prop="companyName" label="名称">
            </el-table-column>
            <el-table-column prop="email" label="email">
            </el-table-column>
            <el-table-column prop="stat" label="stat">
            </el-table-column>
            <el-table-column prop="enode" label="enode">
            </el-table-column>
            <el-table-column prop="remark" label="remark">
            </el-table-column>
        </el-table>
    </template>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="index.js"></script>
<script>


</script>
</body>

</html>